.template {
  -fx-background-color: #161616;
  -fx-text-fill: #efefef;

  .container, .container > * {
    -fx-background-color: #161616;
  }

  Label {
    -fx-text-fill: #efefef;
  }

  Button {
    -fx-background-color: #1f1f1f;
    -fx-text-fill: #efefef;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color:#efefef;
    -fx-padding: 5px 25px;

    &:hover {
      -fx-border-color: #2c86ff;
    }
  }

  TextField, PasswordField {
    -fx-background-color: #1f1f1f;
    -fx-text-fill: #efefef;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color:#efefef;

    &:focused {
      -fx-border-color: #2c86ff;
    }
  }
}

.bottomBar, .header {
  -fx-padding: 30px;
}

.container {
  -fx-padding: 0 0 0 30px;
}


.bottomBar {
  -fx-background-color: #1f1f1f;
}